//Widget
.widget {
    background: $light-blue;
    margin-bottom: $xl-size;
}

// Widget message
.widget__message {
    color: $light-grey;
    margin: 0;
    padding: $l-size;
    text-align: center;
    border-bottom: 1rem solid lighten($light-blue, 25%);
}

// Widget Header
.widget-header {
    background: $blue;
    color: $light-grey;
    display: flex;
    justify-content: space-between;
    padding: $m-size;

}
.widget-title__header {
    margin: 0;
}

